/* line 1166, ../sass/profilegrid.scss */
.pbs-profile-grid {
  padding: 40px 20px 0;
}
/* line 1168, ../sass/profilegrid.scss */
.pbs-profile-grid * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
/* line 1173, ../sass/profilegrid.scss */
.pbs-profile-grid h1 {
  color: #464646;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px;
  word-wrap: break-word;
}
/* line 1181, ../sass/profilegrid.scss */
.pbs-profile-grid .profile-grid-descr {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  word-wrap: break-word;
}

/* line 4, ../sass/profilegrid.scss */
.og-grid {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  font-size: 0;
  word-spacing: 0;
  letter-spacing: 0;
}
/* line 14, ../sass/profilegrid.scss */
.og-grid li {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 15px;
  vertical-align: top;
  height: 300px;
  width: 300px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 27, ../sass/profilegrid.scss */
.og-grid li:nth-child(4n), .og-grid li:last-child {
  margin-right: 0;
}
/* line 30, ../sass/profilegrid.scss */
.og-grid li > a, .og-grid li > a img {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
/* line 41, ../sass/profilegrid.scss */
.og-grid li > a {
  background: #efefef;
  height: 300px;
  width: 300px;
  line-height: 298px;
  display: inline-block;
  vertical-align: middle;
}
/* line 49, ../sass/profilegrid.scss */
.og-grid li h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(135, 135, 135, 0), rgba(0, 0, 0, 0.74));
  width: 100%;
  padding: 10px;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 21px;
  margin: 0;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 67, ../sass/profilegrid.scss */
.og-grid li.og-expanded > a::after {
  bottom: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 15px;
  left: 50%;
  margin: 0px 0 -11px -15px;
}
/* line 81, ../sass/profilegrid.scss */
.og-grid .og-expander {
  position: absolute;
  background: #efefef;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}
/* line 92, ../sass/profilegrid.scss */
.og-grid .og-expander-inner {
  padding: 30px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 92, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding: 30px;
  }
}
@media (max-width: 320px) {
  /* line 92, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding-top: 50px;
  }
}
/* line 104, ../sass/profilegrid.scss */
.og-grid .og-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 111, ../sass/profilegrid.scss */
.og-grid .og-close::before, .og-grid .og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 123, ../sass/profilegrid.scss */
.og-grid .og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 128, ../sass/profilegrid.scss */
.og-grid .og-close:hover::before, .og-grid .og-close:hover::after {
  background: #333;
}
@media (max-width: 767px) {
  /* line 104, ../sass/profilegrid.scss */
  .og-grid .og-close {
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
}
/* line 140, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper,
.og-grid .og-details,
.og-grid .og-bottom-details {
  width: 48%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 149, ../sass/profilegrid.scss */
.og-grid .og-details,
.og-grid .og-bottom-details {
  height: auto;
  line-height: normal;
}
/* line 154, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper {
  text-align: center;
  height: auto;
  margin-right: 3%;
}
/* line 158, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
/* line 163, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper .og-img-credit {
  font-size: 11px;
  float: left;
  color: #d1d2d4;
  line-height: 16px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #464646;
}
/* line 181, ../sass/profilegrid.scss */
.og-grid .og-details h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  padding: 0px 0 10px;
  margin-bottom: 10px;
  color: #464646;
  word-wrap: break-word;
}
/* line 190, ../sass/profilegrid.scss */
.og-grid .og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222;
  margin-bottom: 0;
  word-wrap: break-word;
}
/* line 198, ../sass/profilegrid.scss */
.og-grid .og-details a {
  margin-top: 20px;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 35px 15px 15px;
  border: 2px solid #747474;
  display: inline-block;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
}
/* line 211, ../sass/profilegrid.scss */
.og-grid .og-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  right: 15px;
  font-size: 22px;
  top: 14px;
}
/* line 234, ../sass/profilegrid.scss */
.og-grid .og-bottom-details {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}
/* line 241, ../sass/profilegrid.scss */
.og-grid .og-bottom-details span {
  display: block;
  margin-bottom: 10px;
  word-break: break-word;
}
/* line 246, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a {
  color: #309BC5;
  display: block;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
}
/* line 255, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  font-size: 20px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  /* line 279, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details {
    width: 100%;
  }
  /* line 282, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper {
    height: auto;
    display: block;
  }
  /* line 286, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details a {
    width: 50%;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 4, ../sass/profilegrid.scss */
  .og-grid {
    text-align: center;
  }
  /* line 294, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper,
  .og-grid .og-details,
  .og-grid .og-bottom-details,
  .og-grid .og-bottom-details a {
    width: 100%;
    margin-right: 0;
  }
  /* line 301, ../sass/profilegrid.scss */
  .og-grid .og-details {
    margin-top: 20px;
  }
}
/* line 305, ../sass/profilegrid.scss */
.og-grid .og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}
/* line 319, ../sass/profilegrid.scss */
.og-grid .image-loading {
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}
@-webkit-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@-moz-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
/* line 367, ../sass/profilegrid.scss */
body:not(.studio) {
  margin-top: 0 !important;
}

/* line 372, ../sass/profilegrid.scss */
body.dark .pbs-profile-grid h1, body.dark .pbs-profile-grid .profile-grid-descr {
  color: white;
}
/* line 376, ../sass/profilegrid.scss */
body.dark #og-additems {
  color: white;
  border-color: white;
}

/* line 387, ../sass/profilegrid.scss */
.studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
.tpl-producer .span12.page-content .og-grid li,
.tpl-producer .span12.page-content .og-grid li > a,
.tpl-station .span12.page-content .og-grid li,
.tpl-station .span12.page-content .og-grid li > a {
  width: 301px;
  height: 301px;
  line-height: 299px;
}
@media (min-width: 1280px) and (max-width: 1290px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 291px;
    height: 291px;
    line-height: 289px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 309px;
    height: 309px;
    line-height: 307px;
  }
}
@media (min-width: 961px) and (max-width: 1023px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 289px;
    height: 289px;
    line-height: 287px;
  }
}
@media (width: 960px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 296px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
    line-height: 353px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    line-height: 438px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 387, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 280px;
    height: 280px;
    line-height: 278px;
    margin-right: 0 !important;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  /* line 432, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 11px;
  }
  /* line 435, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 438, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n+1) {
    margin-right: 11px;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 386, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 444, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(4n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(4n),
  .tpl-station .span12.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 447, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
/* line 454, ../sass/profilegrid.scss */
.studio .og-expander .og-fullimg,
.tpl-producer .og-expander .og-fullimg,
.tpl-station .og-expander .og-fullimg {
  position: relative;
}
@media (min-width: 1025px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 566px;
    width: 566px;
    max-width: 100%;
    margin: auto;
    line-height: 566px;
  }
}
@media (max-width: 1024px) and (min-width: 961px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 428px;
    width: 428px;
    max-width: 100%;
    margin: auto;
    line-height: 428px;
  }
}
@media (max-width: 960px) and (min-width: 769px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 387px;
    width: 387px;
    max-width: 100%;
    margin: auto;
    line-height: 387px;
  }
}
@media (max-width: 768px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 320px;
    width: 320px;
    max-width: 100%;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 767px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 600px;
    width: 660px;
    max-width: 100%;
    margin: auto;
    line-height: 600px;
  }
}
@media (max-width: 640px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 480px;
    width: 480px;
    margin: auto;
    line-height: 480px;
  }
}
@media (max-width: 480px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 320px;
    width: 320px;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 320px) {
  /* line 454, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 220px;
    width: 220px;
    padding: 0;
    margin: auto;
    line-height: 220px;
  }
}

/* line 518, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
  width: 212px;
  height: 212px;
  line-height: 210px;
}
@media (min-width: 1280px) and (max-width: 1290px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 205px;
    height: 205px;
    line-height: 203px;
  }
}
@media (max-width: 1279px) and (min-width: 1025px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 197px;
    height: 197px;
    line-height: 195px;
  }
}
@media (width: 1024px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 227px;
    height: 227px;
    line-height: 225px;
  }
}
@media (min-width: 961px) and (max-width: 1023px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 289px;
    height: 289px;
    line-height: 287px;
  }
}
@media (width: 960px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 296px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
    line-height: 353px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    line-height: 438px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 518, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 280px;
    height: 280px;
    line-height: 278px;
    margin-right: 0 !important;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  /* line 517, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 11px;
  }
  /* line 571, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(3n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (width: 1024px) {
  /* line 576, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(3n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(3n) {
    margin-right: 11px;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 517, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 582, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 585, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
@media (max-width: 639px) {
  /* line 517, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0 !important;
  }
}
/* line 593, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-fullimg-wrapper,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper {
  width: 45%;
  height: auto;
}
/* line 597, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
  width: 52%;
  line-height: normal;
}
/* line 601, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
}
/* line 603, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}
@media (max-width: 767px) {
  /* line 608, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid .og-fullimg-wrapper,
  .studio .span8.page-content .og-grid .og-details,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
}
/* line 618, ../sass/profilegrid.scss */
.studio .span8.page-content .og-expander .og-fullimg,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
  background: #efefef;
  height: 371px;
  width: 371px;
  line-height: 371px;
  position: relative;
}
@media (max-width: 1024px) and (min-width: 961px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 402px;
    width: 402px;
    max-width: 100%;
    margin: auto;
    line-height: 402px;
  }
}
@media (max-width: 960px) and (min-width: 769px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 387px;
    width: 387px;
    max-width: 100%;
    margin: auto;
    line-height: 387px;
  }
}
@media (max-width: 768px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 300px;
    width: 300px;
    max-width: 100%;
    margin: auto;
    line-height: 300px;
  }
}
@media (max-width: 767px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 600px;
    width: 660px;
    max-width: 100%;
    margin: auto;
    line-height: 600px;
  }
}
@media (max-width: 640px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 480px;
    width: 480px;
    margin: auto;
    line-height: 480px;
  }
}
@media (max-width: 480px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 320px;
    width: 320px;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 320px) {
  /* line 618, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 220px;
    width: 220px;
    padding: 0;
    margin: auto;
    line-height: 220px;
  }
}

/* line 677, ../sass/profilegrid.scss */
body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
@media (max-width: 1279px) {
  /* line 679, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    width: 100%;
  }
}
@media (max-width: 960px) {
  /* line 679, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (max-width: 960px) {
  /* line 687, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span12 {
    padding: 0 20px;
  }
}
@media (min-width: 961px) {
  /* line 693, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li {
    margin-right: 8px;
  }
  /* line 695, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 194px;
    height: 194px;
    line-height: 192px;
  }
  /* line 701, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
/* line 707, ../sass/profilegrid.scss */
body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .og-expander .og-fullimg {
  position: relative;
}
@media (min-width: 1024px) {
  /* line 707, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .og-expander .og-fullimg {
    height: 247px;
    width: 247px;
    line-height: 247px;
  }
}

/* line 720, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
@media (max-width: 960px) {
  /* line 720, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid {
    padding: 40px 20px 0;
  }
}
/* line 727, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (min-width: 966px) {
  /* line 731, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 195px;
    height: 195px;
    line-height: 193px;
  }
}
@media (min-width: 961px) and (max-width: 965px) {
  /* line 731, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 193px;
    height: 193px;
    line-height: 191px;
  }
}
@media (width: 960px) {
  /* line 731, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 296px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 731, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 234px;
    height: 234px;
    line-height: 232px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 731, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 440px;
    height: 440px;
    line-height: 438px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 731, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 280px;
    height: 280px;
    line-height: 278px;
    margin-right: 0 !important;
  }
}
/* line 766, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
  margin-right: 12px;
}
/* line 769, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 773, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
/* line 777, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li h2 {
  font-size: 18px;
  font-weight: 300;
}
/* line 784, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
}
/* line 787, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-fullimg-wrapper {
  height: auto;
}
/* line 790, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}
/* line 795, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-expander .og-fullimg {
  position: relative;
}
@media (min-width: 1024px) {
  /* line 795, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .og-expander .og-fullimg {
    height: 264px;
    width: 264px;
    line-height: 264px;
  }
}

/* line 807, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
@media (max-width: 960px) {
  /* line 807, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid {
    padding: 40px 20px 0;
  }
}
/* line 813, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (min-width: 1024px) {
  /* line 817, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 312px;
    height: 312px;
    line-height: 310px;
  }
}
@media (min-width: 970px) and (max-width: 1023px) {
  /* line 817, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 300px;
    height: 300px;
    line-height: 298px;
  }
}
@media (min-width: 960px) and (max-width: 969px) {
  /* line 817, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 295px;
    height: 295px;
    line-height: 293px;
  }
}
@media (min-width: 1280px) {
  /* line 837, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 12px;
  }
  /* line 840, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  /* line 846, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .og-expander .og-fullimg {
    height: 432px;
    width: 432px;
    line-height: 432px;
  }
}

/* line 856, ../sass/profilegrid.scss */
#og-additems {
  margin: 0 auto 30px;
  width: 150px;
  text-align: center;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 25px;
  border: 2px solid #747474;
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 869, ../sass/profilegrid.scss */
#og-additems:hover {
  background: #747474;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-moz-document url-prefix() {
  @media (min-width: 1025px) {
    /* line 884, ../sass/profilegrid.scss */
    .studio .span8.page-content .og-grid li,
    body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
      margin-right: 8px;
    }

    /* line 888, ../sass/profilegrid.scss */
    .studio .span8.page-content .og-grid li:nth-child(3n),
    body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(3n) {
      margin-right: 0;
    }
  }
}
/* line 896, ../sass/profilegrid.scss */
.pbs-profile-promo {
  margin-bottom: 20px;
}
/* line 899, ../sass/profilegrid.scss */
.pbs-profile-promo h1 a {
  color: #5A585A;
  text-transform: capitalize;
  word-wrap: break-word;
}
/* line 904, ../sass/profilegrid.scss */
.pbs-profile-promo h1 a:hover {
  text-decoration: none;
}
/* line 909, ../sass/profilegrid.scss */
.pbs-profile-promo .row-fluid + .row-fluid .span12, .pbs-profile-promo .row-fluid + .row-fluid .span8 {
  border-bottom: 1px solid #D1D1D1;
  overflow: hidden;
}
/* line 914, ../sass/profilegrid.scss */
.pbs-profile-promo .og-grid {
  padding: 0;
}
/* line 917, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all {
  margin-top: 10px;
  color: #747474;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-bottom: 15px;
}
/* line 928, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  font-size: 22px;
  float: right;
  margin-left: 10px;
}

@media (width: 1024px) {
  /* line 955, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a {
    width: 309px;
    height: 309px;
    line-height: 307px;
  }
  /* line 960, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (width: 768px) {
  /* line 973, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a, body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a {
    width: 234px;
    height: 234px;
    line-height: 232px;
  }
  /* line 978, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li {
    margin-right: 12px;
  }
  /* line 981, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li:nth-child(3n), body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 769px) and (max-width: 959px) {
  /* line 987, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a, body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a {
    width: 232px;
    height: 232px;
    line-height: 230px;
  }
  /* line 992, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li {
    margin-right: 13px;
  }
  /* line 995, ../sass/profilegrid.scss */
  body .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li:nth-child(3n), body .span12.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  /* line 1008, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 405px;
    height: 405px;
    line-height: 403px;
  }
  /* line 1015, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li, body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li > a {
    width: 301px;
    height: 301px;
    line-height: 299px;
  }
  /* line 1025, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body.studio .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a {
    width: 287px;
    height: 287px;
    line-height: 285px;
  }
}
@media (min-width: 1280px) and (max-width: 1290px) {
  /* line 1038, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li, body.studio .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li > a {
    width: 277px;
    height: 277px;
    line-height: 275px;
  }
  /* line 1043, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid:not(.og-4-items) li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 1050, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 392px;
    height: 392px;
    line-height: 390px;
  }
  /* line 1057, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li, body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li > a {
    width: 291px;
    height: 291px;
    line-height: 289px;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  /* line 1071, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li, body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li > a {
    width: 142px;
    height: 142px;
    line-height: 140px;
  }
  /* line 1076, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li {
    margin-right: 12px;
  }
  /* line 1079, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 961px) and (max-width: 1023px) {
  /* line 1086, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li, body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li > a {
    width: 214px;
    height: 214px;
    line-height: 212px;
  }
  /* line 1091, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li {
    margin-right: 12px;
  }
  /* line 1094, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (width: 960px) {
  /* line 1100, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li, body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li > a {
    width: 221px;
    height: 221px;
    line-height: 219px;
  }
  /* line 1105, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li {
    margin-right: 12px;
  }
  /* line 1108, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid.og-4-items li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  /* line 1119, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li, body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li > a {
    width: 229px;
    height: 229px;
    line-height: 227px;
  }
  /* line 1124, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li {
    margin-right: 12px;
  }
  /* line 1127, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid.og-4-items li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 961px) and (max-width: 1023px) {
  /* line 1134, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 214px;
    height: 214px;
    line-height: 212px;
  }
  /* line 1139, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li {
    margin-right: 12px;
  }
  /* line 1142, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (width: 960px) {
  /* line 1148, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 221px;
    height: 221px;
    line-height: 219px;
  }
  /* line 1153, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li {
    margin-right: 12px;
  }
  /* line 1156, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
}
